html {
  background-color: #ede6f2;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

h1 {
  color: #374a67;
  font-family: "Montserrat", sans-serif;
}
.input_video {
  display: none !important;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.output_canva {
  margin: auto;
  z-index: 0;
}
.landmark-grid-container {
  display: none !important;
}

.button-record {
  background-color: #06d6a0;
}

.button-recording {
  background-color: #ef476f;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  z-index: -1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
