.input_video {
  display: none !important;
}
.landmark-grid-container {
  display: none !important;
}

.button-record {
  background-color: #06d6a0;
}

.button-recording {
  background-color: #ef476f;
}
